[user]
  name = Daniels Lee
  email = daniels@killingthemsoftly.me
[core]
  editor = vim
  excludesfile = ~/.gitignore
[push]
  followTags = true
[pull]
  rebase = true
  all = true
[alias]
  st = status
  ci = commit
  cia = commit --amend
  co = checkout
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  dt = difftool
  dstaged = diff --staged
  diffs = diff --staged
  logs = log --stat
  logp = log -p
  logl = log --oneline
  mt = mergetool --no-prompt
  sh = stash
  shls = stash list
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[mergetool "vimdiff"]
  cmd = vimdiff -f "$LOCAL" "$MERGED" "$REMOTE"
[status]
  showStash = false
[commit]
  gpgsign = true
