[alias]
  addp = add -p
  br = branch
  ch = cherry-pick
  ci = commit
  cia = commit --amend
  cianoe = commit --amend --no-edit
  co = checkout
  diffs = diff --staged
  dt = difftool
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  logl = log --oneline
  logp = log -p
  logs = log --stat
  mt = mergetool
  pu = pull --prune
  pushf= push --force-with-lease
  re = rebase
  re1 = rebase -i HEAD~1
  re10 = rebase -i HEAD~10
  re2 = rebase -i HEAD~2
  re3 = rebase -i HEAD~3
  re4 = rebase -i HEAD~4
  re5 = rebase -i HEAD~5
  re6 = rebase -i HEAD~6
  re7 = rebase -i HEAD~7
  re8 = rebase -i HEAD~8
  re9 = rebase -i HEAD~9
  rebort = rebase --abort
  recont = rebase --continue
  reom = rebase origin/master
  reomain = rebase origin/main
  rs = reset
  rs1 = reset HEAD~
  rs2 = reset HEAD~2
  rs3 = reset HEAD~3
  rs4 = reset HEAD~4
  rs5 = reset HEAD~5
  rs6 = reset HEAD~6
  rs7 = reset HEAD~7
  rs8 = reset HEAD~8
  rs9 = reset HEAD~9
  rsom = reset --hard origin/master
  rsomain = reset --hard origin/main
  sh = stash
  shls = stash list
  st = status
[commit]
  gpgsign = true
  verbose = true
[core]
  editor = vim
  excludesfile = ~/.gitignore
[diff]
  context = 5
[init]
  defaultBranch = main
[merge]
  conflictstyle = diff3
  ff = false
  tool = vimdiff
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "vimdiff"]
  cmd = vimdiff -f "$LOCAL" "$MERGED" "$REMOTE"
[pull]
  rebase = true
  all = true
[push]
  followTags = true
[rebase]
  autoStash = true
  autoSquash = true
[stash]
  showPatch = true
  showStat = true
[status]
  showStash = false
[user]
  name = Daniels Lee
  email = dannlee@gmail.com
  signingkey = 7B1CA190DBFB388CE139E75132DC11FF833AB6B1
